<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>在线相册信息管理系统</title>
</head>
<body>
{% load static from static %}
  <center>
    <h1>在线相册信息管理</h1>
    <h4>
      <a href="{% url 'index' %}">返回首页</a>
      <a href="{% url 'pictures' pIndex %}">浏览相册信息</a>
      <a href="{% url 'upload' %}">发布相册信息</a>
    </h4>
      <hr>
    <h2>浏览相册图片信息</h2>
      <p></p>
      <table width="1000" border="5">
          <tr>
              <td>id号</td>
              <td>标题</td>
              <td>图片</td>
              <td>时间</td>
              <td>操作</td>
          </tr>
          {% for content in ps %}
          <tr>
              <td>{{content.id}}</td>
              <td>{{content.name}}</td>
              <td><img src='{% static "pics/s_1716276505.5596979.png" %}' alt="My image"/></td>
              <td>{{content.time}}</td>
              <td><a href="{% url 'edit' content.id %}">编辑</a>
                  <a href="{% url 'delete'  content.id %}">删除</a></td>
          </tr>
          {% endfor %}
      </table>
      <br>
      <a href="{% url 'pictures' pIndex|add:-1 %}">上一页</a>
      {% for p in plist %}
           {% if pIndex == p %}
              &nbsp;&nbsp; <a href="{% url 'pictures' p %}" style="color:red;">{{p}}</a>&nbsp;&nbsp;
           {% else %}
              &nbsp;&nbsp; <a href="{% url 'pictures' p %}">{{p}}</a>&nbsp;&nbsp;
           {% endif %}
      {% endfor %}
      <a href="{% url 'pictures' pIndex|add:1 %}">下一页</a>
  </center>
</body>
</html>